				.mess{
            		font-size: 18px; 
            		margin: 20px 0px 0px 300px; 
            		display: inline-block;
            		line-height: 30px;
            		height: 30px;
            		width: 100px; 
            		text-align: center;
            	}
            	.inpu{
            		background: rgba(0,0,0,0.2);
            		margin-left: 0px;
            		text-indent: 10px;
            		height: 30px;
            		width: 240px; 
            		border: 1px solid rgba(0,0,0,0.35);
            	}
            	select{
            		padding-left: 10px;
            	}
            	.tit{
            		height: 130px;
            	}
            	.tit>div{
            		margin: 20px auto 20px 315px ;
            	}
            	.tit-mess{
            		height: 80px;
            	}
            	#addSub{
            		background: rgba(0,0,0,0.1);
            		border: 1px solid rgba(0,0,0,0.5);
            		width: 125px;
            		height: 30px;
            		font-size: 15px;
            		text-align: 30px;
            		margin: 20px auto 0 320px;
            	}
            	#addSub:hover{
            		background: rgba(0,0,0,0.5);
            	}
            	#addRes{
            		background: rgba(0,0,0,0.1);
            		border: 1px solid rgba(0,0,0,0.5);
            		width: 125px;
            		height: 30px;
            		font-size: 15px;
            		text-align: 30px;
            		margin: 20px auto 0 70px;
            	}
            	#addRes:hover{
            		background: rgba(0,0,0,0.5);
            	}
            	.tip{
            		margin-left: 410px; 
            		line-height: 30px;
            	}
            	#userAccount{
            		ime-mode: disabled;
            	}
				a:hover{
					cursor: pointer;
				}
				
/*addOrder  */
				.remarks {
				height: 70px;
				width: 240px;
				color: white;
				background: rgba(0, 0, 0, 0.2);
				border: 1px solid rgba(0, 0, 0, 0.35);
				position: absolute;
				left: 854px;
				top: 20px;
				line-height:20px;
				text-indent:10px;
			}
			
			.line {
				height: 60px;
				width: auto;
				position: relative;
			}
			.findClient{
				position: absolute;
				z-index: 10;
				height: 200px;
				top: 52px;
				left: 404px;
			}
			.holder{
				display: block;
				background: rgba(0, 0, 0, 0.65);
				margin: 0px;
				text-indent: 10px;
				height: 30px;
				width: 240px;
				line-height: 30px;
			}
			.holder:hover{
				background: rgba(0, 0, 0, 0.9);
			}
/*delUser*/
			 .mess1{
            		padding: 20px;
            		font-size: 18px; 
            		line-height: 30px;
            		height: 30px;
            	}	
            .tit-mess1{
            		height: 5px;
            	}
            
           	#last{
           		font-size: 18px; 
           		
           	}
           	#last a{
           		margin: 20px;
           		
           	}
           	#del{
           		margin-top:30px ;
           		border-color: rgba(0,0,0,0.2);
	           	margin-left:310px ;
	           	text-align:center; 
	           	border-collapse:collapse ;
           	}
/* updateClient */
			#clientUpdate{
				margin-top:30px ;
           		border-color: rgba(0,0,0,0.2);
	           	margin-left:310px ;
	           	text-align:center; 
	           	width:800px;
	           	border-collapse:collapse ;
			}
			 .mess2{
           		padding: 10px;
           		font-size: 14px; 
           		position: relative;
           	}
           	.messdiv{
           		 display:none;
           		 position: absolute;
           		 z-index:10;
           		 padding:8px 10px;
           		 left: -250px; 
           		 top: 0px; 
           		 width:260px;
           		 height:150px; 
           		 background-color:rgba(50,83,100,0.7);
           	}
           	.messdiv p{
           		line-height:13px;
           		text-align:left;
           		text-indent: 5px;
           	}
           	.ccName{
           		display:block;
           		position:relative;
           	}
           	 .tit-mess3{
           	 	height:auto;
           	 }
           	 
 /* addOrder */
			#selorder{
	 			margin:30px 10px 80px 45px;
           		border-color: rgba(0,0,0,0.2);
	           	text-align:center; 
	           	border-collapse:collapse ;
	           	padding: 20px;
           		font-size: 14px; 
           		line-height: 30px;
            		
		 	}
		 	#selorder tr>td{
		 		padding: 10px;
		 	}
/* updateRole */
			
			.mess3{
            		padding: 20px;
            		font-size: 18px; 
            		line-height: 30px;
            		height: 30px;
            		width: 160px;
            }	
			#upd{
            		margin-top:30px ;
            		border-color: rgba(0,0,0,0.2);
	            	margin-left:310px ;
	            	text-align:center; 
	            	border-collapse:collapse ;
            	}
/* updateSupplier */
			.ccOperation{
				display:inline-block;
				text-align:center;
				font-size:15px;
				line-height:20px;
				width:80px;
				height:20px;
				margin-left:20px;
				margin-top:15px;
				background:rgba(160,100,200,0.6);
			}
			.emailTip{
				display:none; 
				text-align:center;
				border-radius:25px;
				line-height:20px;
				height:20px;
				width:130px;
				background:rgba(233,104,107,0.6); 
				position:absolute; 
				top:40px;
				left:130px;
			}
/* headsculpture */
		#headpics{
		display:none;
		width:410px;
		height:300px;
		position:absolute;
		left:230px;
		right:150px;
		 z-index:10;
		 background-color:rgba(29,54,73,0.8); 	 
		}
		#headpics input{
			    background: rgba(6,10,27,0.8);
   				 border: 1px solid rgba(0,0,0,0.2);
   					 width: 125px;
   					 height: 30px;
   				 font-size: 15px;
   				 margin-left: 50px;
   				 margin-top:10px;
		}
		#headpics input:hover{
		background: rgba(0,0,0,0.5);
		}
		
		#headpics img{
		margin:10px;
		position:relative;
		width:100px;
		height:80px
		
		}
		
		#headpics img:hover {
		cursor:pointer;
		border:1px red solid;
		}
/*home*/
		#homesection{
			margin:0px 300px;
		}
		
		#homesection tr td{
		display:inline-block;
		margin:20px;
		border-radius:70px;
		background-color:#DADADA;
		
		}
		
	
		#homesection img{
		margin:10px;
			display:inline-block;
			border-radius:50px;
			width:100px;
			
			transition:all 200;
			
		}
		#homesection tr td:hover{
		
		
		}
		#homesection img:hover{
		cursor:pointer;
		transform: scale(1.1);
		}		